body {
  font-family: 'Tajawal', sans-serif;
  margin: 1rem;
  color: #545454;
}

.logo {
 margin-left: 3rem;
}
/*Logo, Top level navigation menu*/
.topnav{
    overflow: hidden;
    background-color:#fad579; 
}
.topnav input {
    float: left;
    width: 19rem;
    padding: 0.5rem;
    border: none;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
}


li{
    display: inline-flex;
}

li a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}
li a:hover {
  background-color: #f1f1f1;
}
.active {
  background-color: #f1f1f1;
}
li a, .dropbtn {
    display: inline-block;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #fad579}
.dropdown:hover .dropdown-content {
    display: block;
}

/*main text with two columns*/

.content {
	display: flex;
	flex-direction: row;
    margin: 2rem;
}
h1{
  font-family: 'Passion One', cursive;
  letter-spacing: 0.03rem;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

p, li{
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-align: justify;
  padding-bottom: 0.5rem;
}

.left {
  padding-right: 1.5rem;
  border-right: solid 3px #fad579;
}

.right {
  padding-left: 1.5rem;
}
/*footer*/
.slide img{
  width: 10rem;
}
.bx-viewport{box-shadow:none !important;}

/*
Basic Responsive Styles 
*/

@media screen and (max-width: 1000px) {
			.content {
		      flex-direction: column;
			}
h1{
  font-family: 'Passion One', cursive;
  letter-spacing: 0.03rem;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

p, li{
  font-size: 1.3rem;
  line-height: 1.7rem;
  padding-bottom: 0.5rem;
}
.right {
  padding: 0;
}
  .left {
    padding: 0;
  border: none;
}
}